* {
  box-sizing: border-box;
  /* align-items: center; */

}

body {
  background: wheat;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Top NavBar styling */
.topnav {
  background-color: rgb(171, 226, 171);   
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 60px;
  align-items: center;
}

.Link {
  color: black;
  padding: 14px 16px;
  margin: 0 10px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
}

.Link:hover {
  color: black;
  background-color: rgb(130, 177, 130);
  text-decoration: none;
}

/* Home Page styling */
.Home {
  background-color: wheat;
}
/* Title Box Styling */
.hero {
  display: flex;
  background: url("https://images.pexels.com/photos/1600711/pexels-photo-1600711.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hero h1 {
  color: white;
  font-size: 600%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hero-body {
  text-align: center;
}

input[name='hero-input'] {
  /* Search Icon */
  background: url("https://img.icons8.com/officexs/16/000000/search.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  /* Text Position */
  /* Input box */
  width: 220px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
  height: 30px;
  vertical-align: top;
}


input[name="hero-input"]:focus{
  width:600px;
  outline: none;
  /* text-indent: 50px;
  text-align: left; */
}

/* Login Page */
.loginCard {
  text-align: center;
  align-items: center;
  border: 1px solid black;
  margin: 300px auto;
  height: 220px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 5px 5px grey;
}

.loginCard h2 {
  margin-top: 10px;
}

.loginCard input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 5px;
}

.loginCard input:focus {
  outline: none;
}

.loginCard button {
  margin: 10px;
}

/* Create Account */
.CreateAccount {
  text-align: center;
  border: 1px solid black;
  margin: 150px auto;
  height: 700px;
  width: 600px;
  background-color: white;
  box-shadow: 0px 5px 5px grey;
  justify-content: center;
}


.CreateAccount h2,h4,button {
  text-align: center;
  margin-top: 10px;
}

.createAccountForm {
  text-align: left;
  margin-left: 20%;
}

.CreateAccount input {
  margin-bottom: 20px;
  width: 80%;
  display: block;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
}

.CreateAccount input:focus{
  outline: none;
}

/* My Profile */
.MyProfile {
  text-align: center;
  margin: 100px auto;
}

/* Display User Saved Recipes */
.userRecipesRow {
  display: flex;
  justify-content: space-evenly;
  max-width: 87%;
  margin: 0px auto;
}

.DisplayUserRecipes {
  display: inline-flex;
  flex-wrap: wrap;
}

/* Display Recipe Card styling */
.recipeCard {
  margin: 10px 5px;
  background-color: white;
  text-align: center;
  width: 320px;
  height: 520px;
  border: 0.5px solid gray;
}

.recipeCard img {
  max-width: 100%;
  height: 200px;
  vertical-align: top;
  top: 0;
  margin-bottom: 20px;
}

.recipeCard button {
  padding: 12px 16px;
}

/* Recipe Display Component */
li {
  margin-top: 20px;
}

.RecipeDisplay {
  margin: 100px 0;
}

.recipeHeader {
  text-align: center;
  /* margin-left: 20px; */
}

.recipeInfo {
  display: flex;
  text-align: center;
  justify-content: center;
}

.yields {
  padding-right: 40px;
}

.recipeBody {
  display: flex;
  flex-wrap: flex;
}

.ingredientsBox {
  flex:20%;
  text-align: left;
  border-right: 1px solid grey;
  padding-right: 20px;
}

.ingredientList {
  margin-left: 30px;
}

.instructionsBox {
  flex: 80%;
  /* display: flex; */
  flex-wrap: wrap;
  text-align: left;
}

/* Display Saved Recipe */
.DisplaySavedRecipe {
  text-align: center;
}

.DisplaySavedRecipe button {
  margin: 0 32px;
}

/* SearchUrl */
.SearchUrl {
  text-align: center;
}

.SearchUrl button {
  margin: 0 32px;
}

/* PlanMeal page */
.listPlanMeal {
  margin-top: 60px;
  text-align: center;
}

.PlanMealCard {
  background-color: white;
  margin: 20px auto;
  padding: 0px 20px;
  width: 80%;
}

.leftColumn {
  box-sizing: border-box;
  vertical-align: top;
  width: 30%;
}

.rightColumn {
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  text-align: left;
}

.tabs {
  top: 0;
  margin-bottom: 20px;
  vertical-align: top;
  width: 100%;
}

/* Display Planned Meal */
.PlanMealDisplay { 
  display: flex;
  margin-top: 100px;
}

.planMealRecipes {
  text-align: center;
  position: fixed;
  width: 20%;
  margin: 0 auto;
  padding: 0 32px;
}

.recipeNames {
  margin: 12px 16px;
}

.planMeal {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.planMeal td {
  padding: 10px;
}

.planMealHeader {
  text-align: center;
}

.planMealTimeStep {
  text-align: center;
  border-right: 1px black solid;
  width: 20%;
}

.recipe0 {
  background-color: #C25436;
  color: white;
}
.recipe1 {
  background-color: #CEC065;
}
.recipe2 {
  background-color: #5D8672;
  color: white;
}
.recipe3 {
  background-color: #74433A;
  color: white;
}

